# Node dependencies
node_modules/
**/node_modules/

# Local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# Build outputs
dist/
.dist/
**/dist/
.eslintcache

# Editor configs
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
